
<DOCTYPE HTML>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Mi Aplicación Django</title>
</head>
<body>
    <header style="background-color: black; color: white; text-align: center; padding: 10px;">
        <h1>Mi Aplicación Django</h1>
    </header>
    <main>
        {% block content %}
        <!-- Contenido específico de cada página irá aquí -->
        {% endblock %}
    </main>
    <footer style="background-color: black; color: white; text-align: center; padding: 10px;">
        <p>Alexander Alcázar &copy; 2026 Mi Aplicación Django</p>
    </footer>
</body>
</html>